* {
	box-sizing: border-box;
	margin: 0;
}

:root {
	--black_rbg: 23,24,26;
	--black: rgb(var(--black_rbg));
	--blue_rbg: 37, 77, 126;
	--blue: rgb(var(--blue_rbg));
	--red_rbg: 238,85,113;
	--red: rgb(var(--red_rbg));
	--beige_rbg: 234,206,180;
	--beige: rgb(var(--beige_rbg));
	--light_rbg: 243,225,221;
	--light: rgb(var(--light_rbg));
	--white_rbg: 255,255,248;
	--white: rgb(var(--white_rbg));

	--base-content-gap: 8px;
	--input-outline-color: var(--black);
	--focus-border-color: var(--blue);
	--focus-background-color: var(--beige);
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;

	background-color: var(--light);
}

body {
	color: #333;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: hue-rotate(15deg);
}
